VITE_SUPABASE_URL=https://ibsqrqnccvpprdahjzpl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlic3FycW5jY3ZwcHJkYWhqenBsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNDQyNDQsImV4cCI6MjA5MjYyMDI0NH0.rLHYgWi95OWRSAwKNbzKUCZ7rEfQAr02xp_PVnD8P7Y
VITE_SERVICEROLE_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlic3FycW5jY3ZwcHJkYWhqenBsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzA0NDI0NCwiZXhwIjoyMDkyNjIwMjQ0fQ.Epmsb5ST36w5NvkSoRK2AzjRJv6WD8DDwSsIkgc2_s4